@using BotDetect.Web.Mvc;
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section slide
{
    <div class="banner-grid">
        <div id="visual">
            <div class="slide-visual">
                <!-- Slide Image Area (1000 x 424) -->
                <ul class="slide-group">
                    <li><img class="img-responsive" src="/assets/images/ba1.jpg" alt="Dummy Image" /></li>
                    <li><img class="img-responsive" src="/assets/images/ba2.jpg" alt="Dummy Image" /></li>
                    <li><img class="img-responsive" src="/assets/images/ba3.jpg" alt="Dummy Image" /></li>
                </ul>

                <!-- Slide Description Image Area (316 x 328) -->
                <div class="script-wrap">
                    <ul class="script-group">
                        <li><div class="inner-script"><img class="img-responsive" src="/assets/images/baa1.jpg" alt="Dummy Image" /></div></li>
                        <li><div class="inner-script"><img class="img-responsive" src="/assets/images/baa2.jpg" alt="Dummy Image" /></div></li>
                        <li><div class="inner-script"><img class="img-responsive" src="/assets/images/baa3.jpg" alt="Dummy Image" /></div></li>
                    </ul>
                    <div class="slide-controller">
                        <a href="#" class="btn-prev"><img src="/assets/images/btn_prev.png" alt="Prev Slide" /></a>
                        <a href="#" class="btn-play"><img src="/assets/images/btn_play.png" alt="Start Slide" /></a>
                        <a href="#" class="btn-pause"><img src="/assets/images/btn_pause.png" alt="Pause Slide" /></a>
                        <a href="#" class="btn-next"><img src="/assets/images/btn_next.png" alt="Next Slide" /></a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <script type="text/javascript" src="/assets/js/pignose.layerslider.js"></script>
        <script type="text/javascript">
    //<![CDATA[
	    $(window).load(function() {
		    $('#visual').pignoseLayerSlider({
			    play    : '.btn-play',
			    pause   : '.btn-pause',
			    next    : '.btn-next',
			    prev    : '.btn-prev'
		    });
	    });
    //]]>
        </script>

    </div>
}
@section js{
    <script src="~/assets/jquery-validation-1.16.0/jquery.validate.min.js"></script>
    <script src="~/assets/jquery-validation-1.16.0/additional-methods.min.js"></script>
    <script type="text/javascript">
        $('#frmDangKy').validate({
            rules: {
                TenDangNhap: {
                    required: true
                },
                MatKhau: {
                    required: true,
                    minlength: 6
                },
                RePass: {
                    equalTo: '#txtPass'
                },
                HoTen: {
                    required: true
                },
                Email: {
                    required: true,
                    email: true
                },
                DiaChi: {
                    required: true
                }
            },
            messages: {
                TenDangNhap: {
                        required: 'Không được bỏ trống'
                },
                MatKhau: {
                    required: 'Không được bỏ trống',
                    minlength: 'Mật khẩu phải lớn hơn 6 kí tự'
                },
                RePass: {
                        equalTo: 'Xác nhận mật khẩu sai'
                },
                HoTen: {
                        required: 'Không được bỏ trống'
                },
                Email: {
                    required: 'Không được bỏ trống',
                    email: 'Email không đúng định dạng'
                },
                DiaChi: {
                        required: 'Không được bỏ trống'
                }
            }
        });
</script>    
}
<br>
@if (ViewBag.ErrorMsg != null)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Lỗi!</strong> @ViewBag.ErrorMsg
    </div>
}


<form class="form-horizontal" method="post" action="" id="frmDangKy">
    <div class="form-group">
        <label for="txtUserName" class="col-sm-2 control-label">Tên đăng nhập: </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Tên đăng nhập"  name="TenDangNhap">
        </div>
    </div>
    <div class="form-group">
        <label for="txtPass" class="col-sm-2 control-label">Mật khẩu: </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Mật khẩu" id="txtPass" name="MatKhau">
        </div>
    </div>
    <div class="form-group">
        <label for="txtRePass" class="col-sm-2 control-label">Nhập lại mật khẩu: </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Nhập lại mật khẩu" name="RePass">
        </div>
    </div>
    <div class="form-group">
        <label for="txtHoTen" class="col-sm-2 control-label">Họ tên: </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Họ tên" name="HoTen">
        </div>
    </div>
    <div class="form-group">
        <label for="txtEmail" class="col-sm-2 control-label">Email: </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Email" name="Email">
        </div>
    </div>
    <div class="form-group">
        <label for="txtDiaChi" class="col-sm-2 control-label">Địa chỉ</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Địa chỉ" name="DiaChi">
        </div>
    </div>
    <div class="form-group">
        <label for="txCaptcha" class="col-sm-2 control-label">Captcha: </label>
        <div class="col-sm-4">
            @{
                var exampleCaptcha = new MvcCaptcha("ExampleCaptcha");
                exampleCaptcha.Reset();
            }
            @Html.Captcha(exampleCaptcha)
        </div>
    </div>
        
        <br>

        <div class="form-group">
            <label for="txCaptcha" class="col-sm-2 control-label">Nhập Captcha: </label>
            <div class="col-sm-4">
                <input type="text" class="form-control" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" name="CaptchaCode">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-check"></i>
                    Đăng ký
                </button>
            </div>
        </div>
    </div>
</form>















